:root {
  --pry: white;
  --sec: black;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Karla', sans-serif;
}

h1,
h2 {
  font-family: 'Abril Fatface', cursive;
}

/* Globals */
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--sec);
}
i.typcn {
  font-size: 1.5rem;
  cursor: pointer;
}


#loader {
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  justify-content: center;
  align-items: center;
  z-index: 2000000000;
  transition: opacity ease-in-out 350ms;
}
#animation-wrapper {
  border: 6px solid var(--pry); /* Light grey */
  border-top: 6px solid var(--sec); /* Blue */
  border-bottom: 6px solid var(--sec); /* Blue */
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1.5s ease-in-out infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Header */
header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 1em;
  /* position: fixed; */
  width: 100%;
}
div.header-item i#hamburger {
  position: relative;
  z-index: 1000000;
}
div.header-item {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}




/* Navigation */
div.nav {
  background: var(--pry);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform ease-in-out 250ms;
}
div.nav ul.nav-list-collection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: inherit;
}
div.sub-collection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}
body.nav-toggle div.nav {
  transform: translateX(0);
}
body.loader-animation div#loader {
  opacity: 0;
}

div.container {
  padding: 0 1em;
  /* margin: 1em 0; */
}
h1.title-header {
  margin: .5em 0;
}
div.section-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 .5em;
  justify-content: center;
}
div.news-card {
  width: 100vw;
  height: fit-content;
  margin: 1em .5em;
}
div.news-img {
  height: 170px;
}
div.news-text {
  margin-top: .5em;
}
a.btn button {
  border: none;
  background: none;
  border-bottom: 1px solid black;
  cursor: pointer;
}
p.link {
  text-align: right;
}



@media only screen and (min-width: 550px) {
  
  div.news-card {
    max-width: 350px;
    height: fit-content;
    margin: 1em .5em;
  }
  div.news-img {
    height: 200px;
  }

}